.movie-card {
  display: flex;
  width: 480px;
  min-height: 281px;
  box-shadow: 0 4px 12px 0 #00000021;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.movie-poster {
  margin-right: 20px;
  width: 183px;
  height: 281px;
}

.poster__img {
  width: 183px;
  height: 281px;
}

.movie-info {
  padding-right: 5px;
  position: relative;
  width: 277px;
}

.movie-header {
  width: 230px;
}

.movie-title {
  font-size: 20px;
  font-weight: 600;
}

.movie-rating {
  padding: 6px;
  border: 2px solid #e9d100;
  border-radius: 100%;
  font-size: 12px;

  position: absolute;
  top: 10px;
  right: 10px;
}

.movie-overview {
  height: 129px;
  overflow: hidden;
  font-size: 12px;
}

.movie-date {
  color: #827e7e;
  font-size: 12px;
}

.movie-tags {
  display: flex;
}

.tags__item {
  font-size: 12px;
  margin-right: 10px;

  padding: 2px 5px;

  color: #000000a6;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
